.g-body {
    width: 1100px;
    margin: 55px auto 50px auto;
}

#uploadform {
    display: flex;
    justify-content: space-between;
}

.g-main {
    width: 771px;
    border: 1px solid #e0e1e1;
    background: #fff;
}

.g-aside {
    box-sizing: border-box;
    width: 315px;
}

.g-main .u-line {
    width: 743px;
}

.u-formitem {
    height: 68px;
    margin-left: 30px;
    line-height: 68px;
    font-size: 0;
}

.u-formitem .u-tt {
    display: inline-block;
    width: 88px;
    font-size: 14px;
}

.u-formitem .u-cnt {
    display: inline-block;
}

.u-formitem .u-btn {
    margin-right: 32px;
}

.u-formitem-1 {
    position: relative;
    height: 90px;
    margin-left: 0;
    padding-left: 30px;
    border-bottom: 1px solid #e0e1e1;
}

/* 兼容edge */
#progress {
    display: inline-block;
    width: 10em;
}

.u-formitem-1 .tips {
    position: absolute;
    left: 118px;
    bottom: 0;
    line-height: 34px;
    font-size: 12px;
    color: #727171;

}

#upload + .u-btn-upload {
    width: 123px;
}

#upload + .u-btn-upload.disabled {
    background-color: #ccc;
    border-color: #d7d7d7;
    cursor: default;
}

.uploadWorklist {
    min-height: 100px;
    background-color: #efefef;
    border-bottom: 1px solid #e0e1e1;
}

.u-ipt {
    box-sizing: border-box;
    border: 1px solid #5ed0ba;
}

.u-formitem-2 {
    height: 38px;
    line-height: 38px;
    margin-left: 0;
    margin-bottom: 25px;
}

.u-formitem-2 .u-tt {
    width: 76px;
    vertical-align: top;
}

.u-formitem-2 .u-cnt {
    position: relative;
}

.u-ipt-error {
    position: absolute;
    right: -172px;
    width: 145px;
    line-height: 36px;
    border-style: none;
    color: #e83828;
    opacity: 0;
}

.u-ipt-error.show-error {
    opacity: 1;
}

#worksname {
    height: 38px;
    width: 294px;
    padding-left: 12px;
}

.u-formitem-3 {
    height: 106px;
}

#description {
    width: 405px;
    height: 106px;
    line-height: 1.5em;
    padding: 5px 12px;
    vertical-align: top;
}

label[for="description"] {
    height: 20px;
    line-height: 20px;
    padding-top: 5px;
}

#description:focus {
    outline: none;
}

.u-formitem-4 {
    height: auto;
    line-height: 26px;
    margin-bottom: 8px;
}

.u-formitem-4 .u-cnt {
    vertical-align: top;
}

.m-tag {
    display: flex;
    flex-wrap: wrap;
    width: 405px;
}

.m-tag .tag {
    position: relative;
    width: auto;
    height: 26px;
    line-height: 24px;
    padding: 0 10px;
    margin: 0 12px 10px 0;
}

.m-tag .tag .close {
    position: absolute;;
    right: 1px;
    top: -3px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    opacity: 0;
}

.m-tag .tag:hover .close {
    opacity: 0.2;
}

.m-tag .tag-add {
    width: 95px;
}

.m-tag .tag-add .u-ipt {
    display: none;
}

.m-tag .tag-add .txt {
    display: inline-block;
}

.m-tag .tag-add.focused .u-ipt {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 10px;
    border-style: none;
}

.m-tag .tag-add.focused .txt {
    display: none;
}

.m-tag .tag-add.focused {
    padding: 0 5px;
}



.u-formitem-5 {
    height: auto;
    margin-bottom: 45px;
}

.u-formitem-5 .u-tt {
    color: #5ed0ba;
}

.m-submit, .setting {
    width: 485px;
    margin: 0 auto;
}

.setting {
    padding: 27px 0 0;
    overflow: visible;
}

.m-submit {
    padding-bottom: 40px;
}

.m-submit button[type="submit"] {
    width: 100px;
    height: 38px;
}

.g-aside .wrap {
    height: auto;
    padding-left: 18px;
    padding-bottom: 42px;
    border: 1px solid #e0e1e1;
    background: #f7f8f8;
    font-size: 0;
}

.u-formitem-6 {
    height: auto;
    margin-left: 0;
}

.u-formitem-6 .u-tt {
    height: 66px;
    line-height: 66px;
}

.u-formitem-6 .u-cnt {
    display: block;
    font-size: 12px;
}

#privilege .u-icon-radio, #privilege .u-icon-radiochecked {
    margin-right: 8px;
}

#privilege .u-cnt label {
    display: block;
    height: 16px;
    margin-bottom: 18px;
    line-height: 16px;
    color: #727171;
}

#privilege .u-cnt label:last-child {
    margin-bottom: 0;
}

#privilege .u-cnt input {
    margin-right: 6px;
    vertical-align: middle;
}

#authorization .u-tt {
    display: block;
    height: 42px;
    margin-top: 31px;
    line-height: 42px;
    font-size: 14px;
}

#authorization .u-cnt {
    height: 40px;
    line-height: 40px;
}

#authorization .m-select {
    width: 266px;
    margin-bottom: 42px;
    background-color: #fff;
}

#authorization .select-val {
    width: 237px;
}

#authorization .select-op {
    top: 39px;
}

#authorization .select-op li {
    height: 29px;
    line-height: 29px;
}

.modalmsg {
    width: 300px;
    padding: 0 20px;
    text-align: center;
}

.progress-wrap {
    position: absolute;
    top: 0;
    left: 270px;
    width: 400px;
    line-height: 68px;
    font-size: 12px;
}

#progress {
    margin-right: 15px;
}

.uploadWorklist {
    box-sizing: border-box;
    max-height: 455px;
    padding-top: 45px;
    overflow-y: auto;
    overflow-x: hidden;
}

.uploadWorklist .m-works {
    margin-left: 0;
    margin-right: -30px;
}

.uploadWorklist .m-works .item {
    display: inline-block;
    position: relative;
    height: 175px;
    width: 100px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.uploadWorklist .m-works img {
    width: 100%;
    height: 140px;
}

.uploadWorklist-wrap {
    width: 620px;
    margin: 0 auto;
}

.setcover.u-btn {
    display: block;
    height: 22px;
    width: 80px;
    margin: 5px auto 0 auto;
    line-height: 22px;
    opacity: 0;
}

.uploadWorklist .item:hover .setcover {
    opacity: 1;
}

.uploadWorklist .u-icon-delete {
    position: absolute;
    top: 5px;
    right: 3px;
    opacity: 0;
}

.uploadWorklist .item:hover .u-icon-delete {
    opacity: 1;
}