html,
body,
h1,
h2,
h3,
h4,
h6,
div,
ul,
li,
p,
form,
fieldset,
input,
button,
textarea {
    margin: 0;
    padding: 0;
}

a:focus,
button:focus,
input:focus {
    outline: 0;
}

em {
    font-style: normal;
    font-weight: normal;
}

html,
body,
fieldset,
img {
    border: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h6 {
    font-size: 100%;
    font-weight: normal;
}

textarea {
    overflow: auto;
    resize: none;
}

label {
    cursor: default;
}

a,
button {
    cursor: pointer;
}

a,
a:hover {
    text-decoration: none;
    color: #333;
}

body,
textarea,
input,
button {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, "Microsoft Yahei", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    word-break: break-all;
    background: #efefef;
}

input {
    line-height: 1.2em;
}

.f-cb:after {
    clear: both;
    display: block;
    height: 0;
    content: '.';
    font-size: 0;
    visibility: hidden;
}

.f-fr {
    float: right;
}

.f-pr {
    position: relative;
    zoom: 1;
}

.f-dn {
    display: none;
}

.f-vh {
    visibility: hidden;
}

.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.f-thide2,
.f-thide6 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.f-thide2 {
    -webkit-line-clamp: 2;
}

.f-thide6 {
    -webkit-line-clamp: 6;
}

.f-ofy-hd {
    overflow-y: hidden;
}

/*icon*/

.u-icon {
    background-image: url(../res/images/sprites.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.u-icon-search {
    position: absolute;
    top: 50%;
    right: 11px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-position: -185px -205px;
}

.u-icon-user {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 9px;
    vertical-align: middle;
    background-position: -5px -100px;
}

.u-icon-female {
    display: inline-block;
    width: 11px;
    height: 17px;
    vertical-align: middle;
    background-position: -165px -100px;
}

.u-icon-male {
    display: inline-block;
    width: 14px;
    height: 15px;
    vertical-align: middle;
    background-position: -185px -100px;
}

.u-icon-down {
    display: inline-block;
    width: 16px;
    height: 10px;
    margin-top: 35px;
    background-position: -45px -100px;
}

.u-icon-diamond,
.u-icon-star,
.u-icon-work,
.u-icon-activity,
.u-icon-love,
.u-icon-fans,
.u-icon-copy {
    position: absolute;
    top: 50%;
    left: 47px;
    transform: translate(-50%, -50%);
}

.u-icon-diamond {
    width: 37px;
    height: 32px;
    background-position: -5px -120px;
}

.u-icon-star {
    width: 40px;
    height: 38px;
    background-position: -55px -120px;
}

.u-icon-work {
    width: 34px;
    height: 36px;
    background-position: -105px -120px;
}

.u-icon-activity {
    width: 37px;
    height: 37px;
    background-position: -105px -120px;
}

.u-icon-love {
    width: 37px;
    height: 32px;
    background-position: -5px -165px;
}

.u-icon-fans {
    width: 46px;
    height: 27px;
    background-position: -50px -165px;
}

.u-icon-copy {
    width: 35px;
    height: 35px;
    background-position: -104px -165px;
}

.u-icon-moreright {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 9px;
    vertical-align: middle;
    background-position: -5px -205px;
}

.u-icon-actlogo {
    display: inline-block;
    width: 52px;
    height: 32px;
    margin-right: 7px;
    vertical-align: -16px;
    background-position: -155px -165px;
}

.u-icon-actdate {
    width: 85px;
    height: 92px;
    background-position: -129px -240px;
}

.u-icon-ok {
    display: inline-block;
    width: 9px;
    height: 7px;
    margin-right: 6px;
    background-position: -65px -100px;
}

.u-icon-follow {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    background-position: -205px -100px;
}

.u-icon-sideavatar {
    position: absolute;
    width: 101px;
    height: 111px;
    top: -20px;
    left: -16px;
    background-position: -10px -335px;
}

.u-icon-moredown {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: -45px -205px;
}

.u-icon-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -160px -205px;
}

.u-icon-checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 7px 0 0;
    vertical-align: text-bottom;
    background-position: -210px -205px;
}

.u-icon-checkboxchecked {
    width: 15px;
    height: 15px;
    margin: 0 7px 0 0;
    vertical-align: text-bottom;
    background-position: -230px -205px;
}

.u-icon-radio {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 16px 0 0;
    vertical-align: text-bottom;
    background-position: -240px -100px;
}

.u-icon-radiochecked {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 16px 0 0;
    vertical-align: text-bottom;
    background-position: -220px -100px;
}

.u-icon-error {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 7px 0 0;
    vertical-align: text-bottom;
    background-position: -250px -205px;
}

.u-icon-dropdown {
    position: absolute;
    top: 50%;
    right: 4px;
    width: 13px;
    height: 9px;
    margin-top: -4px;
    background-position: -220px -165px;
}

.u-icon-address {
    display: inline-block;
    right: 4px;
    width: 12px;
    height: 16px;
    vertical-align: text-bottom;
    background-position: -145px -100px;
}

.u-icon-edit {
    float: right;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    background-position: -105px -100px;
}

.u-icon-delete {
    float: right;
    width: 14px;
    height: 14px;
    background-position: -125px -100px;
}

.icon-txt {
    font: 0/0 a;
    overflow: hidden;
}

.u-regmdlogo {
    margin: 39px 0 12px 106px;
    text-align: left;
}

/*button*/

.u-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 90px;
    height: 38px;
    line-height: 38px;
    border-radius: 3px;
    border: 1px solid #5ed0ba;   text-align: center;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    color: #5ed0ba;
}

.u-btn-primary {
    background-color: #5ed0ba;
    color: #fff;
}

.u-btn-link {
    border: 1px solid #fff;
    background-color: #fff;
    color: #5ed0ba;
}

.u-btn-act {
    width: 74px;
    height: 27px;
    margin-bottom: 12px;
    line-height: 27px;
}

.u-btn-sm {
    position: relative;
    width: 60px;
    height: 24px;
    margin-left: 10px;
    line-height: 24px;
    overflow: hidden;
}

.u-link {
    color: #5ed0ba;
}

.u-line {
    width: 720px;
    margin: 0 auto;
    border-bottom: 1px solid #e2e3e3;
}

#goregister:hover {
    color: #727171;
}

.z-follow {
    background: #fff;
    color: #5ed0ba;
}

.z-unfollow {
    background: #5ed0ba;
    color: #fff;
}

/*顶栏*/
.g-header {
    position: relative;
    height: 90px;
    min-width: 1080px;
    background-color: #fff;
}

.m-nav {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

.m-nav .u-icon-logo {
    float: left;
    width: 260px;
    height: 90px;
    margin-left: 40px;
    background-position: 0 0;
}

.m-nav .u-icon-logo a {
    float: left;
    width: 215px;
    height: 100%;
    overflow: hidden;
    font: 0/0 a;
}

.m-tabs {
    float: left;
    position: relative;
    margin-top: 17px;
}

.m-tabs a {
    padding: 0 20px;
    color: #b5b5b6;
}

.m-tabs a:hover,
.m-tabs a.z-slide {
    color: #5ed0ba;
}

.m-tabs li,
.m-tabs a {
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
}

.m-tabs .tabs-track {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: #dcdddd;
}

.m-tabs .tabs-thumb {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: #5ed0ba;
    transition: ease 0.2s;
}

.m-topsrch {
    position: absolute;
    top: 0;
    right: 233px;
}

.m-search {
    position: relative;
    height: 36px;
    margin-top: 25px;
    padding: 0 32px 0 16px;
    line-height: 36px;
    border: 2px solid #5ed0ba;
    border-radius: 4px;
    background-color: #fff;
}

.m-search input {
    width: 149px;
    border: 0 none;
}

.m-search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    border: 0 none;
    background: 0 0;
}

.m-guest {
    position: absolute;
    top: 25px;
    right: 22px;
}

.m-user {
    position: absolute;
    z-index: 1;
    right: 7px;
    width: 188px;
    margin: 0 7px 0 35px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 0;
}

.m-user .u-info {
    float: left;
    height: 55px;
    padding: 13px 12px 19px 68px;
    line-height: 55px;
    cursor: pointer;
}

.m-user .u-avatar {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 50px;
    height: 55px;
}

.m-user .u-name {
    display: inline-block;
    max-width: 64px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: bolder;
    vertical-align: middle;
}

.m-user .user-list {
    top: 87px;
    width: 100%;
    font-size: 14px;
    background-color: #fff;
}

.m-user:hover .user-list {
    display: block;
}

.m-user:hover {
    border: 1px solid #ddd;
}

.m-user .user-list li,
.m-user .user-list li a {
    float: left;
    box-sizing: border-box;
    width: 100%;
}

.m-user .user-list a {
    height: 51px;
    padding-left: 60px;
    line-height: 51px;
}

.m-user .user-list li:hover {
    background: #eee;
    text-decoration: none;
}

/*slider*/
.m-slider {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.m-slider .slider_img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity ease .5s;
    -moz-transition: opacity ease .5s;
    -o-transition: opacity ease .5s;
    transition: opacity ease .5s;
}

.m-slider .slider_img img {
    width: 100vw;
    /*height: calc(100vw / 2267 * 1535);*/
    min-width: 1080px;
    min-height: 356px;
}

.m-cursor {
    position: absolute;
    bottom: 14px;
    left: 50%;
    padding: 0 20px;
    transform: translateX(-50%);
    line-height: 20px;
    font-size: 0;
    border-radius: 10px;
    background: rgba(223, 223, 223, .3);
}

.m-cursor li {
    display: inline-block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    border-radius: 5px;
    background: #dedfdf;
    cursor: pointer;
}

.m-cursor > li + li {
    margin-left: 10px;
}

.m-cursor .z-active,
.m-cursor li:hover {
    background: #5ed0ba;
}

/*弹窗模块*/

.m-modal {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    min-width: 320px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

.m-modal .modal-head {
    position: relative;
    padding: 12px 0 10px 11px;
    font-size: 14px;
    color: #5ed0ba;
}

.m-modal .modal-head:after {
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    content: ' ';
    border-bottom: 1px solid #eee;
}

.m-modal .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.m-modal .modal-body {
    margin: 22px auto;
    background-color: #fff;
    color: #727171;
    font-size: 14px;
    text-align: center;
}

.m-modal .modal-foot {
    min-width: 320px;
    margin: 0 -35px 0 auto;
    text-align: center;
}

.m-modal .modal-foot button {
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    margin-bottom: 26px;
    margin-right: 35px;
    line-height: 30px;
}

.m-modal .modal-foot button:hover {
    color: #fff;
    background-color: #5ed0ba;
}

.m-modal-mask {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.m-modal-mask.visible {
    background: rgba(0, 0, 0, .2);
}

.m-form-1 ::-webkit-input-placeholder {
    color: #7ad7c4;
}

/*IE10+*/
.m-form-1 :-ms-input-placeholder {
    color: #7ad7c4;
}

/*Firefox4-18*/
.m-form-1 :-moz-placeholder {
    color: #7ad7c4;
}

/*Firefox19+*/
.m-form-1 ::-moz-placeholder {
    color: #7ad7c4;
}

.m-form-1 ::placeholder {
    color: #7ad7c4;
}

.u-checkbox input[type="checkbox"] {
    display: none;
}

.u-checkbox .u-icon-checkboxchecked {
    display: none;
}

.u-checkbox-remember input[type="checkbox"]:checked ~ .u-icon-checkboxchecked {
    display: inline-block;
}

.u-checkbox-remember input[type="checkbox"]:checked ~ .u-icon-checkbox {
    display: none;
}

.modal-tt {
    position: relative;
    margin: 44px 32px 30px;
    text-align: left;
    font-size: 12px;
}

.modal-tt .wlcm {
    position: relative;
    color: #5ed0ba;
    font-size: 20px;
}

.modal-tt .goreg {
    position: absolute;
    right: 0;
    bottom: 0;
    vertical-align: bottom;
}

.m-form {
    position: relative;
    width: 343px;
    text-align: left;
    font-size: 12px;
}

#loginform {
    margin: 0 32px 34px 32px;
}

.m-form .u-formitem {
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
}

.m-form .formitem-tt {
    display: inline-block;
    height: 40px;
    width: 61px;
    padding-left: 17px;
    font-size: 12px;
    vertical-align: top;
}

.m-form .u-ipt {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 17px;
    border: 1px solid #5ed0ba;
    border-radius: 3px;
}

.m-form .u-formitem-1 {
    position: relative;
    height: 15px;
    line-height: 15px;
}

.m-form-2 .formitem-ct {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    width: 265px;
    font-size: 12px;
}

.m-form-2 .u-formitem {
    font-size: 0;
}

.m-form .forget {
    position: absolute;
    right: 0;
    bottom: 0;
}

.m-form .forget a {
    color: #727171;
}

.m-form .u-formitem.u-error {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: #e83828;
}

.m-form button[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 14px;
    line-height: 40px;
    font-size: 15px;
}

.m-form .u-ipt.u-error {
    border-color: #f18379;
}

#registerform {
    margin: 0 136px 42px 106px;
}

.m-form .formitem-ct-sex {
    width: 94px;
    height: 100%;
    margin-left: 36px;
}

.u-radio input[type="radio"] {
    display: none;
}

.u-radio .u-icon-radiochecked {
    display: none;
}

.u-radio-checked input[type="radio"]:checked ~ .u-icon-radiochecked {
    display: inline-block;
}

.u-radio-checked input[type="radio"]:checked ~ .u-icon-radio {
    display: none;
}

.formitem-ct-validate .u-ipt {
    height: 100%;
    padding-right: 95px;
}

.formitem-ct-validate {
    position: relative;
    float: right;
}

#captchaimg {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 38px;
    width: 94px;
    border-left: 1px solid #5ed0ba;
}

#registerform .u-formitem-2 {
    margin-top: 20px;
    font-size: 12px;
}

.u-formitem-2 label[for="agreement"] span {
    color: #2ea7e0;
}

#registerform button[type="submit"] {
    margin-top: 21px;
}

.m-cascadeselect {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 0;
}

.m-cascadeselect .m-select + .m-select {
    margin-left: 15px;
}

.m-select {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 78px;
    border: 1px solid #5ed0ba;
    border-radius: 3px;
    white-space: nowrap;
    vertical-align: top;
    font-size: 12px;
}

.m-select .select-hd {
    padding-left: 10px;
    padding-right: 17px;
    cursor: pointer;
}

.m-select .select-val {
    display: inline-block;
    width: 49px;
    overflow: hidden;
}

.m-select .select-op {
    position: absolute;
    z-index: 1;
    top: 39px;
    box-sizing: border-box;
    width: 100%;
    max-height: 161px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
    cursor: default;
}

.m-select .select-op li {
    padding-left: 10px;
}

.m-select .select-op li, .m-select .select-val {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.m-select .select-op li:hover, .m-select .select-op .z-select {
    background-color: #eee;
}

.toggle input[type='radio'] {
    display: none;
}

.toggle input[type='radio']:checked + .u-btn {
    background-color: #5ed0ba;
    color: #fff;
}

.hover .u-btn:hover {
    background-color: #5ed0ba;
    color: #fff;
}

.del-item-name {
    color: #5ed0ba;
}